
.mapgoogle {
background: #2d2d2d;;
  height:750px;
   .themap {
    margin-top:200px;
  }
}


@include breakpoint(medium only) {

}


/*@media screen and (max-width: rem-calc(640)) */
@include breakpoint(small only) {



}
