.coordonnees {
  width:600px;
  height:260px;
  color:white;
  background:#96c11f;
  padding-top:50px;
  position:absolute;
  left:50%;
  margin-left:-320px;
  top:640px;
  h2 {
    font-weight:700;
  }

}

@include breakpoint(medium only) {

}


/*@media screen and (max-width: rem-calc(640)) */
@include breakpoint(small only) {
  .coordonnees {

    margin-left:-300px;

    h2 {
      font-weight:700;
    }

  }


}
