.singlearticle {
position:relative;



.containerimgsingle {
  position:absolute;
  overflow: hidden;
  top:-150px;
  height:300px;

  img{
    max-width:1280px;
    width:1280px;

  }
}

article {
  padding-top:170px;

  h1 {
  font-size:rem-calc(36);
  color:black;
  font-weight:700;
  }

  h4 {
    text-transform: uppercase;
    color: #2d2d2d;
  }
}

aside {
  margin-top:170px;
padding-bottom:150px;
padding-top:50px;
  background:black;
  article {
    padding-top:0;
    h4 {
      color:white;
    }
    p {
      color:white;
    }
  }
}



}




@include breakpoint(medium only) {

}


/*@media screen and (max-width: rem-calc(640)) */
@include breakpoint(small only) {



}
